.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
Header.heading{
  box-shadow: 0 15px 40px -20px rgba(40,44,63,.15);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  background: #fff;
  z-index: 1000;
  will-change: transform;
  transform: translateZ(0);
  transition: transform .3s ease;
  contain: size layout style;
  padding: 0 20px;   
}

.iscurrent{
  background-color: #e46d47;
  color: white
}

.currentres{
  border-right: '2px solid #fc8019';
  color:'white';
  background-color: #e46d47;

}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*mobile*/
@media screen and (max-width: 768px) {
  .webview {
  display: none;
  }
  Header.heading{
    background-color: 'white';
    align-items: center;
    height: '70px';
    padding-left: 16px;
    
  }
  .mobfooter{
    display: flex;
    position:fixed;
    width: 100%;
    background-color: #fff;
    height: 50px;
    z-index: inherit 160;;
    align-items: center;
    padding-top: 1px;
    transform: translateZ(0);
    box-shadow: 0 -1px 1px 0 rgba(0,0,0,.1);
    bottom: 0;
    left:0;
  }
  Header.heading{
    position:sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #fff; 
    padding-bottom: 20px;
  }

  .no-outline:focus {
    outline: none;
    }
    input::placeholder {
      font-size: 12px;
    }
    .mobcard{
      position:sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #fff; 
    }
  .sticky {
    position:sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #fff;
    padding-top: 13px;
    border-bottom: 1px solid #e9e9eb;
   
  }
  
  }

  /*website*/
@media screen and (min-width: 1024px) {
  .mobview {
  display: none;
  }
  
  
  }
