.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
Header.heading{
  box-shadow: 0 15px 40px -20px rgba(40,44,63,.15);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background: #fff;
  z-index: 1000;
  will-change: transform;
  transform: translateZ(0);
  transition: transform .3s ease;
  contain: size layout style;
  padding: 0 20px;   
}

.iscurrent{
  background-color: #e46d47;
  color: white
}

.currentres{
  border-right: '2px solid #fc8019';
  color:'white';
  background-color: #e46d47;

}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
